.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.busca{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    align-items: center;
}

.tipo{
    background-color: #f1f1f1;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    padding-left: 2rem;
}

.fechas{
    display: flex;
    border-radius: 10rem 0 0 10rem;
    border: none;
    height: 3rem;
    background-color: #f1f1f1;
    padding: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
}

.fechas2{
    display: flex;
    border-radius: 30px;
    border: none;
    height: 3rem;
    background-color: #f1f1f1;
    padding: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    margin-right: .5rem;
}

div button {
    color: gray;
    height: 3rem;
    width: 5rem;
    font-size: 1.1rem;
    border-radius: 0 10rem 10rem 0;
    border: none;
    background-color: #068D9D;
    color: white;
    opacity: 0.8;
    outline: none;
}

div button:hover{
    opacity: 1;
    cursor: pointer;
}

.seccion-eventos{
    padding-top: 2rem;
}

h1{
    font-family: 'Staatliches';
    font-size: 2.8rem;
    text-align: center;
}

h3{
    margin: 1rem;
}

.informacion-eventos {
    flex: 0 0 35%;
    margin-right: 2rem;
}
.informacion-eventos small {
    font-weight: 700;
    font-size: .8rem;
}

.select{
    border: 1px solid #e0e0e0;
    display: inline-flex;
    padding: 0.36rem;
}

.custom-select {
    /* ... */
    position: relative;
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 2rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}
  
select {
appearance: none;
padding: 0.675em 6em 0.675em 1em;
background-color: #fff;
border: 1px solid #caced1;
border-radius: 0.25rem;
color: #000;
cursor: pointer;
}

label{
    display: inline-block;
    margin-left: 0.5rem;
    font-size: 0.9rem;
    color: #5f5f5f;
    font-size: 1rem;
    padding-right: 1rem;
    align-content: center;
}