.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.busca{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.tipo{
    display: flex;
    border-radius: 10rem 0 0 10rem;
    border: none;
    height: 3rem;
    width: 20rem;
    background-color: #f1f1f1;
    padding: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
}

.fechas{
    display: flex;
    border-radius: 10rem 0 0 10rem;
    border: none;
    height: 3rem;
    background-color: #f1f1f1;
    padding: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
}

.fechas2{
    display: flex;
    border-radius: 30px;
    border: none;
    height: 3rem;
    background-color: #f1f1f1;
    padding: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    margin-right: .5rem;
}

div button {
    color: gray;
    height: 3rem;
    width: 5rem;
    font-size: 1.1rem;
    border-radius: 0 10rem 10rem 0;
    border: none;
    background-color: #068D9D;
    color: white;
    opacity: 0.8;
    outline: none;
}

div button:hover{
    opacity: 1;
    cursor: pointer;
}

.seccion-eventos{
    padding-top: 2rem;
}

h1{
    font-family: 'Staatliches';
    font-size: 2.8rem;
    text-align: center;
}

h3{
    margin-right: 2rem;
}

.informacion-eventos {
    flex: 0 0 35%;
    margin-right: 2rem;
}
.informacion-eventos small {
    font-weight: 700;
    font-size: .8rem;
}